* {
  font-family: Verdana, sans-serif; 
}

body {
    background-image: url(img/floreRosa.png);
}

.container {
    text-align: center;
}

.jumbotron {
    background-color: #FFB6C1; 
    color: white
    
}

.btn {
    color: white;
    justify-self: center;
    background-color: #FFB6C1;
    margin-left: 5%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 40px;
    margin-top: 40px;
}

.img {
    width: 50px;
    height: 50px; 
}

.btn:hover{
    background-color: palevioletred;
}

.panel-footer {
    text-align: center;
    font-size: 10px; 
    background-color: #FFB6C1; 
    color: white
}



.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #FFB6C1; ;
    padding: 1em;
  }
  
  .list {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .item {
    margin-right: .5em;
  }
  
  .item h1 {
    color: #fff;
    font-weight: bold;
    margin-top: 20px;
    font-size: 10px;
  }

  .logo {
    width: 40px;
    height: 40px;
  }

  
.textcom {
  color: rgb(186, 102, 116);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  padding: 1.5px;
  margin-bottom: 20px;
}